@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Linq


@{
    Layout = "~/Views/Shared/ProductLayout.cshtml";
}
@Html.Partial("~/Views/chatbox.cshtml")
<div class="container my-5 mb-2 w-50">

    <h4 class="text-primary text-end ">Đơn hàng của bạn </h4>


    @foreach (var Order in ViewBag.ListOrder)
    {
        
    <div class="table-responsive table table-triped  shadow rounded">

        <table class="table align-middle">

            <tbody>
                

                    @foreach (var o in Order.OrderItems)
                    {
                        <tr>
                            <td>
                                @{
                                    string firstImage = "";
                                    if (o.Product.ImageUrl != null && o.Product.ImageUrl.Count > 0)
                                    {
                                        firstImage = o.Product.ImageUrl[0];
                                    }
                                    else
                                    {
                                        firstImage = "/images/default.jpg"; // ảnh mặc định nếu không có ảnh
                                    }
                                }
                                <img src="@firstImage" alt="anh san pham " class="img-fluid rounded"
                                     style="height: 100px; object-fit: cover;" />
                            </td>
                            <td>
                                <div class="fw-semibold">@o.Product.Name</div>
                            </td>
                            <td class="text-center">
                                <div class="d-flex justify-content-center ">

                                    <span class="mx-2">@o.Quantity </span>

                                </div>
                            </td>
                            <td class="text-end text-success fw-bold">@o.Price đ</td>
                        </tr>
                    }

               
                

            </tbody>
        </table>
        <div class="container-fluid ">

            <div class="d-flex justify-content-start  gap-3 ">
                <h6 class="text-warning">Ngày đặt hàng :</h6>
                    <small class="text-secondary">
                        @Order.CreatedAt.ToString("dd/MM/yyyy")

                    </small>
            </div>
            <div class="d-flex justify-content-start  gap-3 ">
                <h6 class="text-warning">Tổng tiền : </h6>
                <small class="text-primary"> @Order.Total vnd </small>
            </div>
            <div class=" d-flex justify-content-start align-items-center gap-3 ">
                <h6 class="text-warning">Trạng thái đơn hàng :  </h6>
                    @switch (Order.Status)
                    {
                        case 0:
                            <small class="badge bg-warning text-dark">Đang xử lý</small>
                            ;
                            break;
                        case 1:
                            <small class="badge bg-success text-light">Đã xử lý</small>
                            ;
                            break;
                        case 2:
                            <small class="badge bg-danger text-light">Đã hủy</small>
                            ;
                            break;
                    }

                    @if (@Order.Status == 0)
                    {
                        <small class="ms-1 badge bg-danger  text-light "><a asp-controller="Order" asp-action="Remove" asp-route-id="@Order.Id" class="text-decoration-none text-light">Hủy đơn </a></small>

                    }



            </div>


        </div>
    </div>


    }







</div>
</div>






</div>
